
body{
  background-color: #1c1c1c;
  position: relative;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #FFFF00;
  font-size: 30px;
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
}

a{
   text-decoration: none;
   color: #FFFF00;
 }

 h2:hover{
   color: #aaa;
 }

 .choices{
   /*background-color: #313131;*/
   padding: 20px
 }
