@tailwind preflight;

@tailwind components;

body{
    background:#FAFAFA;
}

.title{
    color: #eeeeee;
    @apply .text-5xl .font-black .font-serif .text-center .align-middle .m-8 .h-64;
}

/* .title:hover{
    text-shadow: 2px 2px #000000;
} */

.card{
    @apply .w-full .rounded .overflow-hidden .shadow-lg .flex-grow .m-3 .bg-white;
}

@screen sm{
    .card{
        @apply .w-1/2;
    }
}

@screen md{
    .card{
        @apply .w-1/3;
    }
}

@screen lg{
    .card{
        @apply .w-1/3;
    }
}

@screen xl{
    .card{
        @apply .w-1/4;
    }
}

.pill{
    @apply .inline-block .bg-teal .rounded-full .px-3 .py-1 .text-sm .font-semibold .text-white .mr-2
}

/* .card{
    @apply .w-full .max-w-sm .rounded .overflow-hidden .shadow-lg .m-2 .bg-white;
    @apply .w-full .sm:w-1/2 .md:w-1/3 .lg:w-1/4 .xl:w-1/6 .rounded .overflow-hidden .shadow-lg .flex-grow .m-3;
    @apply .w-full .w-1/2-sm .overflow-hidden .shadow-lg .flex-grow .m-3 .bg-white;
} */

@tailwind utilities;
