
body{
  background-color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  background-image: url(../pics/splash2.png);
  background-size: contain;
  background-repeat: repeat-x repeat-y;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 100px;
  line-height: 540px;
  margin-top: 0px;
  text-align: center;
  background-image: url(../pics/splash.png);
  background-size: contain;
  background-repeat: repeat-x repeat-y;
}

h1:hover{
   color: #ec0e28;
}

h2{
  color: #b2a50c;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  padding: 0px;
}

h3:hover{
  color: #2fd1f9;
}

a{
  font-family: 'Montserrat', sans-serif;
  color: #f1df12;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  padding: 0px;
}

.desc{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ccc;
}

.endeavors{
  margin-left: 10%;
  margin-right: 10%;
}

.endeavor{
  margin-bottom: 80px;
}
